<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <!-- <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>login</ion-title>
  </ion-navbar> -->
  <ion-toolbar no-padding>
  </ion-toolbar>
</ion-header>


<ion-content padding *ngIf="loginscreen" class="content">
    <img class="logo" src="assets/imgs/logo.png"> 
    <p class="text">Rytefix</p>
  <form [formGroup]="form" (ngSubmit)="login()" >
  

    <ion-item>
    <ion-label floating><ion-icon name="ios-call"></ion-icon> Mobile</ion-label>
    <ion-input formControlName="mobile" type="number" [(ngModel)]="loginData.mobile"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating><ion-icon name="lock"></ion-icon> Password</ion-label>
    <ion-input formControlName="pass" type="password" [(ngModel)]="loginData.pass"></ion-input>
  </ion-item>
  
   <button ion-button type="submit"  class="sign_btn"   round full>Login</button>
   </form> 
   <a href="#" (click)="reg()">Register</a>
   <a href="#" (click)="forgot()">Forgot password</a>
</ion-content>
<ion-content padding  *ngIf="forgotMobile">
  <form [formGroup]="form1" (ngSubmit)="forgotPass()" >

  <ion-item>
    <ion-label floating><ion-icon name="lock"></ion-icon>Mobile</ion-label>
    <ion-input formControlName="mobile1" type="number" [(ngModel)]="forgotData.mobile1"></ion-input>
  </ion-item>
  
   <button ion-button type="submit"  class="sign_btn"   round full>Verify</button>
   </form> 
</ion-content> 
<ion-content padding  *ngIf="otpverify">
  <form [formGroup]="form2" (ngSubmit)="otpVerify()" >

  <ion-item>
    <ion-label floating><ion-icon name="lock"></ion-icon>OTP</ion-label>
    <ion-input formControlName="otp" type="text" [(ngModel)]="otpData.otp"></ion-input>
  </ion-item>
  
   <button ion-button type="submit"  class="sign_btn"   round full>Verify</button>
   </form> 
</ion-content> 