page-editservicebooking {

    .alertstyle{
        color:red;
    }
    ion-searchbar.searchbar.searchbar-md.searchbar-left-aligned {
        margin-top: 53px;
    }

    .upload-audio ion-icon.icon.icon-md.ion-ios-close-circle {font-size: 25px;}
    .upload-img ion-icon.icon.icon-md.ion-ios-close-circle {font-size: 25px;}
    
    .toolbar-background {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .toolbar-title{
        font-size: 1.5rem;
          font-weight: 500;
          color: #fff;
          text-align: center;
      }
    .content{
        background-image: url('../assets/imgs/bg-pic.jpg');
        margin-top: 0px !important;
    }
    .item{
        background-color: transparent !important;
    }
    .color_wh{
        color:#fff !important;
    }
    .sign_btn{
      background-color: #fff;
      color: #0679c9;
      margin-top:20px;
  }
  .align{
      color:#fff;
      font-weight:bold;
      text-align:center;
  }
  .label, .item ,.option, .input ,.a{
    color:#fff !important;
}
// a {
//     text-decoration: none !important;
//     color:#fff !important;
// }

.select{
    background: rgba(255, 255, 255, 0.7); 
    line-height: 1.5;
 // background: #70b3de;
    border-bottom: 0px solid #cccccc!important;
    margin-left: 0;
    padding: 5px 6px 5px 15px;
    color: #000 !important;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;  
}
.input{
    background: rgba(255, 255, 255, 0.7); 
    line-height: 1.5; 
    //background: #70b3de;
    border-bottom: 0px solid #cccccc!important;
    margin-left: 0;
    padding: 0px 6px 5px 15px;
    color: #000 !important;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;

}
.my-select {
    min-width: 100%;
    color:#000;
    font-weight:500;
    }
    .upload-img ion-icon.icon.icon-md.ion-md-camera {
        background-color: #3a3234;
        padding: 6px;
        color: #fff;
        border-radius: 50%;
    }
    
    .audiostart ion-icon.icon.icon-md.ion-ios-mic-outline {
        background-color: #3a3234;
        padding: 6px 10px;
        color: #fff;
        border-radius: 50%;
        }
        .audiostop ion-icon.icon.icon-md.ion-ios-mic {
            background: linear-gradient(182deg, #ffffff, #fdbbbb, #ec5d5d, #fd4242, #d91b1b, #d91b1b, #e66d6d, #ffffff);
            background-size: 1600% 1600%;
            color:#000;
            -webkit-animation: AnimationName 3s ease infinite;
            -moz-animation: AnimationName 3s ease infinite;
            animation: AnimationName 3s ease infinite;
            // background-color: #ff0202;
             padding: 6px 10px;
             color: #fff;
             border-radius: 50%;
            }
            @-webkit-keyframes AnimationName {
                0%{background-position:53% 0%}
                50%{background-position:48% 100%}
                100%{background-position:53% 0%}
            }
            @-moz-keyframes AnimationName {
                0%{background-position:53% 0%}
                50%{background-position:48% 100%}
                100%{background-position:53% 0%}
            }
            @keyframes AnimationName { 
                0%{background-position:53% 0%}
                50%{background-position:48% 100%}
                100%{background-position:53% 0%}
            }
}
