page-quoteview {
    #map {
        width: 100%;
        height: 100%;
      }
      .scroll {
        height: 100%
      }
      .switch {
        position: fixed;
        bottom: 33px;
        left: 45%;
        transform: translate3d(-50%, -50%, 0);
        width: 80%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        opacity: .9;
  margin: 0px;
  }
  ion-content.map-pin.content.content-md {
    overflow-x: hidden !important;
}

.map-pin .scroll-content {
    padding: 0px !important;
    overflow-y: hidden;
}

ion-content.map-pin.content.content-md {
    background: #ff7f5000 !important;
    height: 74%;
}ion-content.map-pin #marker {
   // width: 5% !important;
    margin: 0 auto !important;
    margin-top: -54% !important;
    position: relative !important;
}
      }

