page-profile {
  .upload-img {
      // position: absolute;
      // left: 52%;
      // top:14%;
      // width: 50px;
      // height: 50px;
      // bottom: 90%;
      // z-index: 99;
      // background-color: rgba(150, 0, 0, 1);
      // color: rgb(255, 255, 255);
      // font-weight: 500;
      // font-size: 10px;
      // padding: 10px;
      // border-radius: 50%;
      // text-align: center;
      // vertical-align: middle;
      position: absolute;
      left: 26%;
      top: 17%;
      width: 30px;
      height: 30px;
      bottom: 90%;
      z-index: 99;
      background-color: #03A9F4;
      color: white;
      font-weight: 500;
      font-size: 12px;
      padding: 4px;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
    }
    .upload-img ion-icon{
      vertical-align: middle;
      margin: 0;
      padding: 5px;
    }
    img.pimg {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
ion-item ion-icon{
  margin-right: 30px;
  width: 10px;
  height: 10px;
}
// ion-item ion-input {
//   padding-left: 33px !important;
// }
ion-item.add-head {
  color: #999;
}
ion-item.add-head ion-icon {
  color: #999;
}    
ion-fab.close {
  position: relative;
  left: 66%;
  bottom: -8px;
}  
}
