page-home {
    ion-content{
        background-image: url('../assets/imgs/bg.png');
    }
    .selectbg{
        background-image: url('../assets/imgs/Booknewserice.png');
        min-height: 97px;
    }
    .QHSbg{
        background-image: url('../assets/imgs/QSH.png');
        min-height: 97px;
    }
    .home-container .row-center img {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        filter: invert(140%);
    }
    .toolbar-background {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .color-wh{
        color:#fff;
    }
    .toolbar-title{
        font-size: 2rem;
          font-weight: 500;
          color: #fff;
          text-align: center;
      }
      .slides{
        height: 40%;
    }
}
