page-changepass {

    .toolbar-title{
        font-size: 2rem;
          font-weight: 500;
          color: #fff;
          text-align: center;
      }
      .toolbar-background {
        background-color: #0caedc;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }    

}
