<ion-header no-shadow class="navColor">
  <ion-navbar >
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="home()" color="primary">SKIP</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <!-- <h2 class="slide-title" [innerHTML]="slide.title"></h2> -->
      <!-- <p [innerHTML]="slide.description"></p> -->
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/appicon2.png" class="slide-image" />
      <h2 class="slide-title"></h2>
      <button ion-button block class="bonusButton"  icon-end (click)="startApp()">
        REGISTER TO GET 250 CREDITS
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
